# 목표

- 네이터 검색 API를 이용하여 뉴스를 수집하고, 이 내용을 그대로 DB에 저장하겠다

- 패키지 = 디렉토리 , 모듈 = 패키지.모듈
- 수업자료(내컴퓨터에) vscode로실행
- 주석을 다 제거해서 코드를 합칠것.
- ctrl shift p 
- vs코드에서 커맨드 치는 명령어
- fold all (접을 수 있는거 다 접음)

- 마리아db 다운로드
   - https://mariadb.org/download/
   - root pw:1234
   - port :3306
   - 원격접속 허용
   - 기본 인코딩 utf 8
   - 설치 완료되면 바탕화면에 HeidiSQL 설치됨
   - 하이디sql은 gui 환경에서 쓸 수 있게 해준거.
   - db 생성
      - create database python_db
   - 테이블 생성
      - create table news_tbl
    
   - 열 =컬럼
   - 뉴스의 항목 5개 타이틀등 그래서 열 5개생성
   - db 제외 테이블 삭제

# 데이터 적재를 위한 형식변경(타입변경)
 - 리스트(딕셔너리) =/. 판다스 데이터프레임으로

 - 수집한 데이터를 DB에 적제시키기 위해서 형태를 다음과 같이 만든다.
    - [{키:값, ... }]
       - json 따왔을 때 구조가 이랬음...
    - 응답 데이터 중 items 항목을 그대로 사용하겠다. 단 태그나 특수기호(&,...)등은 제거 하겠다.
    - 위의 데이터를 Pandas에 DataFrame으로 변형한 후 db에 입력한다.(룰/절차)

In [31]:
# 문자열에서 가비지 제거하는 함수(<br> 등)
def 태그삭제( oriTxt ) : 
  return oriTxt.replace('&quot;','').replace('<b>','').replace('</b>','')

In [32]:
CLIENT_ID     = 'quAs4Y6uHPoWLrrwpi0W'
CLIENT_SECRET = 'vqVSw4zlV3'

# 함수 정의
def searchNewsByKeyword(arg):
  searchKeyword = arg#'한미정상회담'
  encText       = urllib.parse.quote( searchKeyword )
  url           = 'https://openapi.naver.com/v1/search/news.json'
  url           = f'{url}?query={encText}&display=5'           #display = 20개 설정한거 디폴트 10 5개로변경했음
  request       = urllib.request.Request(url)
  request.add_header("X-Naver-Client-Id",CLIENT_ID)
  request.add_header("X-Naver-Client-Secret",CLIENT_SECRET)
  response      = urllib.request.urlopen(request)
  import json
  rescode       = response.getcode()
  if(rescode==200):
    tmp = json.load( response )
  else:
    print("Error Code:" + rescode)
  #------------------------------------------------------------------------------------------------
  # titles = [ item["title"].replace('&quot;','').replace('<b>','').replace('</b>','') for item in tmp['items']]
  # 제목만 뽑는 리스트 내포? 컨프리핸션
  # return tmp['items']
  # tmp 딕셔너리의 item키의 밸류값을 호출한 함수로 리턴한다.
  #------------------------------------------------------------------------------------------------------
  # 최종 결과물은 리스트이다.
  # return []
  # 리스트의 구성원은 딕셔너리이다.
  # return[{}]
  # 딕셔너리의 구성원은 tmp구성원으로부터 나온다.
  #return [ {} for item in tmp['items'] ]
  # 상위 코드는 리스트 컴프리헨션을 이용하여 생성했다.
  # items의 밸류값을 item으로 하나씩넣는데 딕셔너리안에 넣기때문에
  # 하위결과 출력
  # 상위 코드 결과 총 5개 나오니까(display =5설정)
  # [{}, {}, {}, {}, {}] 출력
#--------------------------------------------------------------------------------------------------------
# 문자열에서 가비지 제거하는 함수(<br> 등)
# def 태그삭제( oriTxt ) : 
#   return oriTxt.replace('&quot;','').replace('<b>','').replace('</b>','')
#--------------------------------------------------------------------------------------------------------
  return [ {
      "title"         : 태그삭제(item['title']),
      "originallink"  : item['originallink'],
      "link"          : item['link'],
      "description"   : 태그삭제(item['description']),
      "pubDate"       : item['pubDate'],
  } for item in tmp['items'] ]

#.replace('&quot;','').replace('<b>','').replace('</b>','')는 반복해서 5번써야하니까 함수로 만든다.
# 코드가 길어지면서 가독성이 떨어질때, 반복해서 쓸 때 함수를 사용해서 가독성을 올려야한다.
# 함수는 쓰는 곳보다 먼저 나와야함.
#태그삭제 사용자 정의 함수 호출 
# 태그삭제(문자열)
# 태그삭제('파이썬<b>123')
# 결과>>> 파이썬123
#--------------------------------------------------------------------------------------------------------
# 함수 호출
#searchNewsByKeyword('아마존')

# 데이터를 재구성하여 리턴한다. 구조는 동일하지만, <br>등등은 제거해야한다.

In [33]:
res = searchNewsByKeyword('아마존')
print(res)

[{'title': "'안티팬' 최수영, 최태준 팬 송채윤과 만났다..펜트하우스서 불편한 하룻밤", 'originallink': 'http://biz.heraldcorp.com/view.php?ud=202105271512328497750_1', 'link': 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=106&oid=112&aid=0003438233', 'description': '글로벌 플랫폼 iQIYI(아이치이), VIKI(비키), 일본 아마존 프라임 비디오(Amazon Prime Video JP)에서는 한 회에 60분 분량으로 매주 금, 토요일 동시 공개된다. 사진제공: ㈜가딘미디어', 'pubDate': 'Thu, 27 May 2021 15:15:00 +0900'}, {'title': '정유정 신작, 예약 하루만에 알라딘 베스트셀러 1위', 'originallink': 'http://www.edaily.co.kr/news/newspath.asp?newsid=03276726629053184', 'link': 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=103&oid=018&aid=0004940417', 'description': '영국에서만 70만 부 이상 판매되며 영국 아마존 종합 베스트셀러 1위에 오른 책 ‘미드나잇 라이브러리’도 꾸준히 사랑을 받아 종합 베스트셀러 4위를 기록했다. 한편 구독자 수 195만 명 스토리텔링 크리에이터... ', 'pubDate': 'Thu, 27 May 2021 15:12:00 +0900'}, {'title': '아마존 제국 만들고 우주 정복하러 떠나는 베이조스...27년 명과 암', 'originallink': 'https://www.etoday.co.kr/news/view/2030169', 'link': 'https://www.etoday.co.kr/news/view/2030169', 'description': '이투데이=김서영 기자 | 7월 5일, 아마존 설립 27년 되는 날 CEO직에서 물러나 아마존 시총 20년 만에 400배 이상 급증 베이조스는 세계 1위 부호 반독점 칼날 ‘시장의 포식자’ 아마존 겨냥 세계 최대 전자상거래 업체... ', 'pubDate': 'Thu, 27 May 2021 15:12:00 +0900'}, {'title': '아마존, 9조4000억원에 MGM 인수…할리우드 사자 삼킨다', 'originallink': 'http://www.newsian.co.kr/news/articleView.html?idxno=48900', 'link': 'http://www.newsian.co.kr/news/articleView.html?idxno=48900', 'description': "［뉴시안= 조현선 기자］글로벌 최대 온라인 쇼핑 채널 '아마존'이 할리우드 유명 영화 제작사 엠지엠(MGM)을 인수한다. 미국 아마존은 26일(현지시각) 영화·TV 스튜디오 MGM를 매입 인수한다고 발표했다. 인수 규모는... ", 'pubDate': 'Thu, 27 May 2021 15:08:00 +0900'}, {'title': '아마존의 MGM 인수, 美 독점금지법 허점 건드리다', 'originallink': 'https://zdnet.co.kr/view/?no=20210527144953', 'link': 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=092&aid=0002223249', 'description': '세계 최대 전자상거래 플랫폼인 아마존이 영화사 MGM을 인수하면서 미국 의원들에겐 또 다른 고민거리를 안겨줬다고 프로토콜이 26일(현지시간) 보도했다. 아마존은 이날 MGM 홀딩스를 84억5천만 달러(약 9조4천억 원)에... ', 'pubDate': 'Thu, 27 May 2021 15:01:00 +0900'}]

In [34]:
res

[{'description': '글로벌 플랫폼 iQIYI(아이치이), VIKI(비키), 일본 아마존 프라임 비디오(Amazon Prime Video JP)에서는 한 회에 60분 분량으로 매주 금, 토요일 동시 공개된다. 사진제공: ㈜가딘미디어',
  'link': 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=106&oid=112&aid=0003438233',
  'originallink': 'http://biz.heraldcorp.com/view.php?ud=202105271512328497750_1',
  'pubDate': 'Thu, 27 May 2021 15:15:00 +0900',
  'title': "'안티팬' 최수영, 최태준 팬 송채윤과 만났다..펜트하우스서 불편한 하룻밤"},
 {'description': '영국에서만 70만 부 이상 판매되며 영국 아마존 종합 베스트셀러 1위에 오른 책 ‘미드나잇 라이브러리’도 꾸준히 사랑을 받아 종합 베스트셀러 4위를 기록했다. 한편 구독자 수 195만 명 스토리텔링 크리에이터... ',
  'link': 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=103&oid=018&aid=0004940417',
  'originallink': 'http://www.edaily.co.kr/news/newspath.asp?newsid=03276726629053184',
  'pubDate': 'Thu, 27 May 2021 15:12:00 +0900',
  'title': '정유정 신작, 예약 하루만에 알라딘 베스트셀러 1위'},
 {'description': '이투데이=김서영 기자 | 7월 5일, 아마존 설립 27년 되는 날 CEO직에서 물러나 아마존 시총 20년 만에 400배 이상 급증 베이조스는 세계 1위 부호 반독점 칼날 ‘시장의 포식자’ 아마존 겨냥 세계 최대 전자상거래 업체... ',
  'link': 'https://www.etoday.co.kr/news/view/2030169',
  'originallink': 'https://www.etoday.co.kr/news/view/2030169',
  'pubDate': 'Thu, 27 May 2021 15:12:00 +0900',
  'title': '아마존 제국 만들고 우주 정복하러 떠나는 베이조스...27년 명과 암'},
 {'description': "［뉴시안= 조현선 기자］글로벌 최대 온라인 쇼핑 채널 '아마존'이 할리우드 유명 영화 제작사 엠지엠(MGM)을 인수한다. 미국 아마존은 26일(현지시각) 영화·TV 스튜디오 MGM를 매입 인수한다고 발표했다. 인수 규모는... ",
  'link': 'http://www.newsian.co.kr/news/articleView.html?idxno=48900',
  'originallink': 'http://www.newsian.co.kr/news/articleView.html?idxno=48900',
  'pubDate': 'Thu, 27 May 2021 15:08:00 +0900',
  'title': '아마존, 9조4000억원에 MGM 인수…할리우드 사자 삼킨다'},
 {'description': '세계 최대 전자상거래 플랫폼인 아마존이 영화사 MGM을 인수하면서 미국 의원들에겐 또 다른 고민거리를 안겨줬다고 프로토콜이 26일(현지시간) 보도했다. 아마존은 이날 MGM 홀딩스를 84억5천만 달러(약 9조4천억 원)에... ',
  'link': 'https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=105&oid=092&aid=0002223249',
  'originallink': 'https://zdnet.co.kr/view/?no=20210527144953',
  'pubDate': 'Thu, 27 May 2021 15:01:00 +0900',
  'title': '아마존의 MGM 인수, 美 독점금지법 허점 건드리다'}]

In [36]:
# [ { } ] dataFrame으로 변경
import pandas as pd

In [38]:
df = pd.DataFrame.from_dict( res )
#딕셔너리로부터 데이터프레임을 만들어라

In [39]:
df

                                       title  ...                          pubDate
0  '안티팬' 최수영, 최태준 팬 송채윤과 만났다..펜트하우스서 불편한 하룻밤  ...  Thu, 27 May 2021 15:15:00 +0900
1               정유정 신작, 예약 하루만에 알라딘 베스트셀러 1위  ...  Thu, 27 May 2021 15:12:00 +0900
2     아마존 제국 만들고 우주 정복하러 떠나는 베이조스...27년 명과 암  ...  Thu, 27 May 2021 15:12:00 +0900
3          아마존, 9조4000억원에 MGM 인수…할리우드 사자 삼킨다  ...  Thu, 27 May 2021 15:08:00 +0900
4               아마존의 MGM 인수, 美 독점금지법 허점 건드리다  ...  Thu, 27 May 2021 15:01:00 +0900

[5 rows x 5 columns]

In [40]:
df.shape
# 데이터가 5개 / 컬럼 5개
# 이걸 볼륨이라고함(데이터의 양)
# 데이터의 볼륨, 모양, 크기이다.

(5, 5)

# 데이터베이스에 저장(적제)

 - 파이썬 < - 드라이버(두개를 연결해주는 뭔가) - > 데이터베이스
 - 드라이버를 깔아줘야 파이썬이 db를 건들 수 있다.

In [43]:
!pip install pymysql
# 매직코드 / 운영체제에 직접적 명령 / 물 깔거기 때문에

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl (43kB)
     |████████████████████████████████| 51kB 3.8MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [45]:
import pymysql
#설치한 py mysql 임포트
# 파이썬에서 마리아디비를 액세스 하는 모듈

# ---------------------------------------------------------------------------------------
# 대량으로 데이터를 디비에 편하게 밀어넣고 싶다 > 고차원의 모듈이 필요
from sqlalchemy import create_engine
# ---------------------------------------------------------------------------------------
# Dataframe에서 db에 sql(db언어)를 전송하는 기능 
#(DataFrame을 DB에 밀어넣는 기능)
import pandas.io.sql as pSql
# ---------------------------------------------------------------------------------------

In [49]:
# 1. 디비 연결 문자열 생성
id       = 'root'        #접속 id
pw       = '1234'        #접속 pw
host     = 'localhost'   #localhost 127.0.0.1
port     = '3306'        #접속 포트
database = 'python_db'   #데이터베이스 명
db_url   = f'mysql+pymysql://{id}:{pw}@{host}:{port}/{database}'             #연결문자열 http:// ~이내용 mysql+pymysql=http와같다 특정사이트에 id 비번보낼때 {}:{}
db_url

'mysql+pymysql://root:1234@localhost:3306/python_db'

In [50]:
# 2. 연결 엔진 생성
engine = create_engine( db_url, encoding = 'utf8' )           #아까 불러온 함수

In [ ]:
# 3. 실제 db에 연결
conn = engine.connect()
# 구글 드라이브기때문에 오류

In [ ]:
# 4. 데이터 입력 
# name = 테이블명 / con = 디비와 연결된 세션
# if_exists = 'append'  이미 테이블이 존재한다면 데이터를 누적해라
df.to_sqldf.to_sql( name='news_tbl', con=conn, if_exists='append', index=False  )          #df는 딕셔너리로 데이터프레임 만든 것
                                                                                           #df를 sql에 연결해라는 것 news_tbl은 테이블 만드는 것, conn은 디비와 연결된 세션

In [ ]:
# 5. 연결을 했으면 연결종료 -> I/O를 수행했으면 반드시 닫는다.(파이썬에서 파일 오픈했듯)